.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header {
    padding: 2rem;
    width: 75%;
}

.logo-container img {
    height: 4rem;
    margin-bottom: 2rem;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}